.main {
    height: 80vh;
}

.dark {
    background: dimgrey;
}

.dark-text {
    color: aliceblue;
}

.red {
    background: lightcoral;
}

.red-text {
    color: aqua;
}

.light {
    background: lightgreen;
}

.light-text {
    color: darkslateblue;
}